[submodule "drivers/staging/kernelsu"]
	path = drivers/staging/kernelsu
	url = https://github.com/dopaemon/KernelSU-Next.git
	branch = next
[submodule "security/baseband-guard"]
	path = security/baseband-guard
	url = https://github.com/vc-teahouse/Baseband-guard.git
	branch = main
