[submodule "security/baseband-guard"]
	path = security/baseband-guard
	url = https://github.com/vc-teahouse/Baseband-guard.git
	branch = main
[submodule "drivers/kernelsu"]
	path = drivers/kernelsu
	url = https://github.com/SukiSU-Ultra/SukiSU-Ultra.git
	branch = susfs-main
