name: GKI | DoraCore Kernel Build

on:
  workflow_dispatch:
    inputs:
      KERNEL_BRANCH:
        description: 'DoraCore Branch'
        required: true
        default: 'Rebase'
        type: choice
        options:
        - Rebase
        - lindroid
      KERNEL_GIT:
        description: 'Kernel Source Code'
        required: true
        default: 'https://github.com/dopaemon/android_kernel_xiaomi_common.git'
      BUILD_DEVICE:
        description: 'Device Target'
        required: true
        default: 'mayfly'
        type: choice
        options:
        - all
        - mayfly
        - cupid
        - unicorn
        - zeus
        - diting
        - marble
        - mondrian
        - thor
        - zizhan
        - ziyi
        - ingres
        - gki
      MANIFEST_GIT:
        description: 'Kernel Manifest Git'
        required: true
        default: 'https://github.com/dopaemon/android_kernel_xiaomi_common.git'
      CLANG_PREBUILT:
        description: 'Custom Clang Prebuilt Git'
        required: true
        default: 'https://gitlab.com/vermouth/android_prebuilts_clang_host_linux-x86_clang-r536225.git'
      CLANG_BRANCH:
        description: 'Custom Clang Prebuilt Branch'
        required: true
        default: '14.0'
      BUILD_TARGET:
        description: 'Specify your Build Target (lindroid only KSU)'
        required: true
        default: 'KSU'
        type: choice
        options:
        - NonKSU
        - KSU
        - Both
      ANYKERNEL_GIT:
        description: 'AnyKernel3 Git'
        required: true
        default: 'https://github.com/dopaemon/Anykernel3.git'
      RELEASE:
        description: 'Status Release'
        required: true
        default: 'draft'
        type: choice
        options:
        - draft
        - prerelease
        - release

jobs:
  set-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - id: set-matrix
        shell: bash
        env:
          BUILD_DEVICE: ${{ github.event.inputs.BUILD_DEVICE }}
        run: |
          if [ "$BUILD_DEVICE" = "mayfly" ]; then
            matrix='["mayfly"]'
          elif [ "$BUILD_DEVICE" = "cupid" ]; then
            matrix='["cupid"]'
          elif [ "$BUILD_DEVICE" = "zeus" ]; then
            matrix='["zeus"]'
          elif [ "$BUILD_DEVICE" = "unicorn" ]; then
            matrix='["unicorn"]'
          elif [ "$BUILD_DEVICE" = "diting" ]; then
            matrix='["diting"]'
          elif [ "$BUILD_DEVICE" = "marble" ]; then
            matrix='["marble"]'
          elif [ "$BUILD_DEVICE" = "mondrian" ]; then
            matrix='["mondrian"]'
          elif [ "$BUILD_DEVICE" = "thor" ]; then
            matrix='["thor"]'
          elif [ "$BUILD_DEVICE" = "zizhan" ]; then
            matrix='["zizhan"]'
          elif [ "$BUILD_DEVICE" = "ziyi" ]; then
            matrix='["ziyi"]'
          elif [ "$BUILD_DEVICE" = "ingres" ]; then
            matrix='["ingres"]'
          elif [ "$BUILD_DEVICE" = "gki" ]; then
            matrix='["gki"]'
          elif [ "$BUILD_DEVICE" = "all" ]; then
            matrix='["mayfly", "cupid", "unicorn", "zeus", "diting", "marble", "mondrian", "thor", "zizhan", "ziyi", "ingres", "gki"]'
          fi

          echo "matrix=$matrix" >> $GITHUB_OUTPUT

  create_release:
    runs-on: ubuntu-latest

    outputs:
      tag: ${{ steps.set-tag.outputs.tag }}

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    permissions:
      contents: write
      discussions: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set tag as timestamp
        id: set-tag
        run: echo "tag=$(date +'%Y%m%d%H%M%S')" >> $GITHUB_OUTPUT

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.set-tag.outputs.tag }}
          name: DoraCore Build ${{ steps.set-tag.outputs.tag }}
          draft: ${{ github.event.inputs.RELEASE == 'draft' }}
          prerelease: ${{ github.event.inputs.RELEASE == 'prerelease' }}
          make_latest: ${{ github.event.inputs.RELEASE == 'release' }}
          body: |
            Build: DoraCore Kernel For GKI Linux 5.10.y
            Linux: Linux 5.10.y
            Type: GKI
            Developer: dopaemon
            Credits: ArianK16a, bachnxuan, Gelbpunkt, ztc1997, pzqqt, KernelToast, Arter97, ramabondanp, Gosth15, Flopster101, bheatleyyy, keosh1, n08i40k, ParsaAslaniYC, ...
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build:
    needs: [create_release, set-matrix]
    runs-on: ubuntu-latest

    strategy:
      matrix:
        device: ${{ fromJson(needs.set-matrix.outputs.matrix) }}

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    permissions:
      contents: write
      discussions: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Check Initial Disk Space
        run: |
          echo "===== Initial Total Disk Space in GB ====="
          df -BG

      - name: Clean-up
        uses: rokibhasansagar/slimhub_actions@main

      - name: Check Disk Space After Cleanup
        run: |
          echo "===== Total Disk Space After Cleanup in GB ====="
          df -BG

      - name: Build Environment
        run: |
          TARGET="${{ github.event.inputs.BUILD_TARGET }}"
          echo "BUILD_DATE=$(TZ=Asia/Ho_Chi_Minh date +'%Y-%m%d-%H%M')" >> $GITHUB_ENV
          cd $GITHUB_WORKSPACE
          sudo apt-get update
          sudo apt-get install -y git ccache automake flex lzop bison gperf build-essential zip curl zlib1g-dev g++-multilib libxml2-utils bzip2 libbz2-dev libbz2-1.0 libghc-bzlib-dev squashfs-tools pngcrush schedtool dpkg-dev liblz4-tool make optipng maven libssl-dev pwgen libswitch-perl policycoreutils minicom libxml-sax-base-perl libxml-simple-perl bc libc6-dev-i386 libx11-dev lib32z-dev libgl1-mesa-dev xsltproc unzip device-tree-compiler rename libelf-dev dwarves wget openjdk-8-jdk
          sudo wget -O /usr/bin/repo http://commondatastorage.googleapis.com/git-repo-downloads/repo
          sudo chmod +x /usr/bin/repo
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"
          mkdir -p $GITHUB_WORKSPACE/android-kernel && cd $GITHUB_WORKSPACE/android-kernel
          repo init --depth=1 --u ${{ github.event.inputs.KERNEL_GIT }} -b manifest
          repo sync -c -j$(nproc --all) --force-sync --no-clone-bundle --no-tags
          git clone -b build --single-branch https://github.com/dopaemon/android_kernel_xiaomi_common.git build
          rm -rf .git .github .repo common
          rm -rf ./build/_setup_env.sh
          wget -O ./build/_setup_env.sh https://raw.githubusercontent.com/dopaemon/android_kernel_xiaomi_common/refs/heads/master/.github/scripts/_setup_env.sh
          chmod +x ./build/_setup_env.sh
          git clone -b lineage-23.0 --single-branch --depth=1 https://github.com/dopaemon/android_kernel_xiaomi_sm8450-modules.git sm8450-modules
          git clone -b lineage-23.0 --single-branch --depth=1 https://github.com/dopaemon/android_kernel_xiaomi_sm8450-devicetrees.git sm8450-devicetrees
          if [ "$TARGET" != "Both" ]; then
             git clone -b master --depth=1 --single-branch ${{ github.event.inputs.ANYKERNEL_GIT }} ./AnyKernel3
          else
             git clone -b volume --depth=1 --single-branch ${{ github.event.inputs.ANYKERNEL_GIT }} ./AnyKernel3
          fi
          rm -rf ./AnyKernel3/.git

      - name: Cache Kernel
        id: cache-kernel
        uses: actions/cache@v4
        with:
          path: android-kernel/common
          key: kernel-${{ github.event.inputs.KERNEL_BRANCH }}
          restore-keys: |
            kernel-

      - name: Clone Kernel if cache missed
        if: steps.cache-kernel.outputs.cache-hit != 'true'
        run: |
          git clone -b ${{ github.event.inputs.KERNEL_BRANCH }} --recurse-submodules -j$(nproc --all) --single-branch --no-tags ${{ github.event.inputs.KERNEL_GIT }} android-kernel/common

      - name: Sync Kernel if cache complete
        if: steps.cache-kernel.outputs.cache-hit == 'true'
        run: |
          cd android-kernel/common
          git fetch origin Rebase
          git reset --hard FETCH_HEAD
          git submodule update --init --recursive

      - name: Cache Clang
        id: cache-clang
        uses: actions/cache@v4
        with:
          path: android-kernel/prebuilts-master/clang/host/linux-x86/clang-r416183b
          key: clang-${{ github.event.inputs.CLANG_BRANCH }}
          restore-keys: |
            clang-

      - name: Clone Clang if cache missed
        if: steps.cache-clang.outputs.cache-hit != 'true'
        run: |
          git clone -b ${{ github.event.inputs.CLANG_BRANCH }} --depth=1 --single-branch ${{ github.event.inputs.CLANG_PREBUILT }} $GITHUB_WORKSPACE/android-kernel/prebuilts-master/clang/host/linux-x86/clang-r416183b

      - name: Setup Ramdisk
        run: |
          sudo mkdir -p $GITHUB_WORKSPACE/ramdisk
          sudo chmod 777 $GITHUB_WORKSPACE/ramdisk
          sudo mount -t tmpfs -o size=10G rdisk1 $GITHUB_WORKSPACE/ramdisk
          sudo mount | tail -n 1
          sudo umount $GITHUB_WORKSPACE/ramdisk
          sudo dd if=/dev/zero of=$GITHUB_WORKSPACE/ramdisk/zero bs=4k count=100000
          sudo dd if=$GITHUB_WORKSPACE/ramdisk/zero of=/dev/null bs=4k count=100000
          sudo mount -a
          sudo sysctl vm.swappiness=10

      - name: Setup CCACHE
        run: |
          sudo mkdir -p $GITHUB_WORKSPACE/ccache
          sudo chmod 7777 $GITHUB_WORKSPACE/ccache

          export CCACHE_DIR=$GITHUB_WORKSPACE/ccache
          export CCACHE_EXEC=$(which ccache)
          export USE_CCACHE=1
          ccache -M 20G
          ccache -o compression=true
          ccache -z

          echo "CCACHE_BASEDIR=$GITHUB_WORKSPACE" >> $GITHUB_ENV
          echo "CCACHE_HASHDIR=1" >> $GITHUB_ENV
          echo "CCACHE_MAXSIZE=20G" >> $GITHUB_ENV
          echo "CCACHE_COMPRESSLEVEL=9" >> $GITHUB_ENV
          echo "CCACHE_DIR=$GITHUB_WORKSPACE/ccache" >> $GITHUB_ENV
          echo "CCACHE_EXEC=$(which ccache)" >> $GITHUB_ENV
          echo "USE_CCACHE=1" >> $GITHUB_ENV
          echo "CCACHE_COMPRESS=1" >> $GITHUB_ENV
          echo "CC='ccache clang'" >> $GITHUB_ENV
          echo "CXX='ccache clang++'" >> $GITHUB_ENV

      - name: Cache CCACHE
        id: cache-ccache
        uses: actions/cache@v4
        with:
          path: $GITHUB_WORKSPACE/ccache
          key: ccache-Rebase
          restore-keys: |
            ccache-

      - name: Build Selected Devices KSU
        if: (github.event.inputs.BUILD_TARGET == 'KSU' || github.event.inputs.BUILD_TARGET == 'Both') && github.event.inputs.KERNEL_BRANCH == 'Rebase'
        run: |
          set -e
          DEVICE="${{ matrix.device }}"
          TARGET="${{ github.event.inputs.BUILD_TARGET }}"
          ZIP_NAME=""

          cd $GITHUB_WORKSPACE/android-kernel
          cd ./common/
          git reset --hard HEAD
          rm -rf $GITHUB_WORKSPACE/android-kernel/out/android12-5.10
          echo "CONFIG_KSU=y" >> arch/arm64/configs/gki_defconfig
          echo "CONFIG_BUILD_WITH_CCACHE=y" >> arch/arm64/configs/gki_defconfig

          if [ "$DEVICE" != "gki" ]; then
             cat arch/arm64/configs/vendor/waipio_GKI.config >> arch/arm64/configs/gki_defconfig
             cat arch/arm64/configs/vendor/xiaomi_GKI.config >> arch/arm64/configs/gki_defconfig
             cat arch/arm64/configs/vendor/"$DEVICE"_GKI.config >> arch/arm64/configs/gki_defconfig
             cat arch/arm64/configs/vendor/debugfs.config >> arch/arm64/configs/gki_defconfig
          fi

          (
             set +e
             cd ../
             time CCACHE_EXEC=$(which ccache) CC="ccache clang" SKIP_MRPROPER=1 LTO=thin BUILD_CONFIG=common/build.config.gki.aarch64 build/build.sh -j$(nproc --all) || true
          )

          [ -f "$GITHUB_WORKSPACE/android-kernel/out/android12-5.10/dist/Image" ] || { exit 1; }

          cd $GITHUB_WORKSPACE/android-kernel
          cd ./common/

          if [ "$TARGET" != "Both" ]; then
             ZIP_NAME="DoraCore-${DEVICE}-KSU-5.10-A12-${BUILD_DATE}.zip"
             cd $GITHUB_WORKSPACE/android-kernel/AnyKernel3
             cp -r $GITHUB_WORKSPACE/android-kernel/out/android12-5.10/dist/Image ./Image
             zip -r9 "$ZIP_NAME" *
             mv "$ZIP_NAME" $GITHUB_WORKSPACE/
          else
             cd $GITHUB_WORKSPACE/android-kernel/AnyKernel3
             cp -r $GITHUB_WORKSPACE/android-kernel/out/android12-5.10/dist/Image ./Image-kernelsu
          fi

          ccache -s

      - name: Build Selected Devices NonKSU
        if: (github.event.inputs.BUILD_TARGET == 'NonKSU' || github.event.inputs.BUILD_TARGET == 'Both') && github.event.inputs.KERNEL_BRANCH == 'Rebase'
        run: |
          set -e
          DEVICE="${{ matrix.device }}"
          TARGET="${{ github.event.inputs.BUILD_TARGET }}"
          ZIP_NAME=""

          cd $GITHUB_WORKSPACE/android-kernel
          cd ./common/
          git reset --hard HEAD
          rm -rf $GITHUB_WORKSPACE/android-kernel/out/android12-5.10
          echo "CONFIG_KSU=n" >> arch/arm64/configs/gki_defconfig
          echo "CONFIG_BUILD_WITH_CCACHE=y" >> arch/arm64/configs/gki_defconfig

          if [ "$DEVICE" != "gki" ]; then
             cat arch/arm64/configs/vendor/waipio_GKI.config >> arch/arm64/configs/gki_defconfig
             cat arch/arm64/configs/vendor/xiaomi_GKI.config >> arch/arm64/configs/gki_defconfig
             cat arch/arm64/configs/vendor/"$DEVICE"_GKI.config >> arch/arm64/configs/gki_defconfig
             cat arch/arm64/configs/vendor/debugfs.config >> arch/arm64/configs/gki_defconfig
          fi

          (
             set +e
             cd ../
             time CCACHE_EXEC=$(which ccache) CC="ccache clang" SKIP_MRPROPER=1 LTO=thin BUILD_CONFIG=common/build.config.gki.aarch64 build/build.sh -j$(nproc --all) || true
          )

          [ -f "$GITHUB_WORKSPACE/android-kernel/out/android12-5.10/dist/Image" ] || { exit 1; }

          if [ "$TARGET" != "Both" ]; then
             ZIP_NAME="DoraCore-${DEVICE}-NonKSU-5.10-A12-${BUILD_DATE}.zip"
             cd $GITHUB_WORKSPACE/android-kernel/AnyKernel3
             cp -r $GITHUB_WORKSPACE/android-kernel/out/android12-5.10/dist/Image ./Image
             zip -r9 "$ZIP_NAME" *
             mv "$ZIP_NAME" $GITHUB_WORKSPACE/
          else
             cd $GITHUB_WORKSPACE/android-kernel/AnyKernel3
             cp -r $GITHUB_WORKSPACE/android-kernel/out/android12-5.10/dist/Image ./Image-standard
          fi

          ccache -s

      - name: Create Flashable Both Image
        if: github.event.inputs.BUILD_TARGET == 'Both' && github.event.inputs.KERNEL_BRANCH != 'lindroid'
        run: |
          DEVICE="${{ matrix.device }}"
          ZIP_NAME="DoraCore-${DEVICE}-5.10-A12-${BUILD_DATE}.zip"
          cd $GITHUB_WORKSPACE/android-kernel/AnyKernel3
          zip -r9 "$ZIP_NAME" *
          mv "$ZIP_NAME" $GITHUB_WORKSPACE/

      - name: Upload to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ needs.create_release.outputs.tag }}
          draft: ${{ github.event.inputs.RELEASE == 'draft' }}
          prerelease: ${{ github.event.inputs.RELEASE == 'prerelease' }}
          make_latest: ${{ github.event.inputs.RELEASE == 'release' }}
          files: DoraCore*.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
